<div id="mapdiv" style="width: 100%; background-color:#fff; height: 600px; padding: 0px; margin: 0px;" data-turbolinks="false"></div>
<br>
<%= render 'layouts/messages' %>
<%= render 'shared/search' %>
<div class="col-md-3 d-block mx-0">
  <%= link_to 'اضافة دولة جديدة', new_state_path, :class => "btn btn-primary btn-lg text-lg ml-auto" %>
</div>

<br>
    <div class="row mx-auto">
      <% @states.each do |state| %>
        <div class="col-md-6 col-sm-4 col-xs-6 card card-register mx-auto px-auto">
          <%= image_tag(state.state_flag, :class => "img-rounded img-state-index d-block mx-auto") %>
          <h4 class="text-center">
            <%= state.state_name %></h4>
          <br>
          <h6 class="text-center">
            الاسم الرسمي للدولة :
            <%= state.state_official_name %></h6>
          <h6 class="text-center" dir="rtl">
            الاسم باللغة الانجليزية :
            <%= state.state_name_en %></h6>
          <h6 class="text-center">
            القارة :
            <%= state.state_continent %></h6>
          <span class="text-center" dir="rtl">
            <%= link_to 'عرض', state, :class => "btn btn-info btn-link btn-lg-custom" %>
            <%= link_to 'تعديل', edit_state_path(state), :class => "btn btn-warning btn-link btn-lg-custom" %>
            <%= link_to 'حذف', state, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-link btn-lg-custom" %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="pagination justify-content-center">
  <%= will_paginate @states, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<script>

  AmCharts.theme = AmCharts.themes.light;
  AmCharts.ready(function() {
    var map = new AmCharts.AmMap();
    map.projection = "mercator";
    map.language = "ar";
    var dataProvider = {
      mapVar: AmCharts.maps.worldLow,
      getAreasFromMap: true
    };
    map.dataProvider = dataProvider;
    map.areasSettings = {
      autoZoom: true,
      rollOverBrightness: 10,
      selectedBrightness: 20
    };
    map.smallMap = new AmCharts.SmallMap();
    map.write("mapdiv");
  });

</script>
