<p id="notice"><%= notice %></p>

<p>
  <strong>State name:</strong>
  <%= @state.state_name %>
</p>

<p>
  <strong>State official name:</strong>
  <%= @state.state_official_name %>
</p>

<p>
  <strong>State name en:</strong>
  <%= @state.state_name_en %>
</p>

<p>
  <strong>State official name en:</strong>
  <%= @state.state_official_name_en %>
</p>

<p>
  <strong>State continent:</strong>
  <%= @state.state_continent %>
</p>

<p>
  <strong>State size:</strong>
  <%= @state.state_size %>
</p>

<p>
  <strong>State population:</strong>
  <%= @state.state_population %>
</p>

<p>
  <strong>State major cities:</strong>
  <%= raw(@state.state_major_cities) %>
</p>

<p>
  <strong>State official lang:</strong>
  <%= @state.state_official_lang %>
</p>

<p>
  <strong>State currency:</strong>
  <%= @state.state_currency %>
</p>

<p>
  <strong>State religion:</strong>
  <%= @state.state_religion %>
</p>

<p>
  <strong>State neighbors:</strong>
  <%= @state.state_neighbors %>
</p>

<p>
  <strong>State nature:</strong>
  <%= @state.state_nature %>
</p>

<p>
  <strong>State provinces:</strong>
  <%= @state.state_provinces %>
</p>

<p>
  <strong>State flag:</strong>
  <%= @state.state_flag %>
</p>

<p>
  <strong>State map:</strong>
  <%= @state.state_map %>
</p>

<p>
  <strong>State origin:</strong>
  <%= @state.state_origin %>
</p>

<p>
  <strong>State political background:</strong>
  <%= @state.state_political_background %>
</p>

<p>
  <strong>State regime type:</strong>
  <%= @state.state_regime_type %>
</p>

<p>
  <strong>State goverment:</strong>
  <%= @state.state_goverment %>
</p>

<p>
  <strong>State constitution:</strong>
  <%= @state.state_constitution %>
</p>

<p>
  <strong>State foreign affairs:</strong>
  <%= @state.state_foreign_affairs %>
</p>

<p>
  <strong>State current issues:</strong>
  <%= @state.state_current_issues %>
</p>

<p>
  <strong>State political parties:</strong>
  <%= @state.state_political_parties %>
</p>

<p>
  <strong>State regime members:</strong>
  <%= @state.state_regime_members %>
</p>

<p>
  <strong>State international representation:</strong>
  <%= @state.state_international_representation %>
</p>

<p>
  <strong>State relations with palestine:</strong>
  <%= @state.state_relations_with_palestine %>
</p>

<p>
  <strong>User:</strong>
  <%= @state.user %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
