<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="false">
    <div class="product-container">
      <% unless request.format.to_sym == :pdf %>
        <% if Rails.application.assets.find_asset(@state.state_map) %>
          <%= image_tag(@state.state_map, class: "map-background page-header-sm img-fluid product-image img-map") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h1><%= @state.state_name %></h1>
          <% unless request.format.to_sym == :pdf %>
            <% if Rails.application.assets.find_asset(@state.state_flag) %>
              <%= image_tag(@state.state_flag, class: "img-fluid img-flag") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4 text-center  d-block mx-auto" dir="rtl">
        <% unless request.format.to_sym == :pdf %>
          <%= link_to 'حفظ بصيغة PDF', state_path(@state, :format => :pdf), :class => "btn btn-lg btn-primary", :target => "_blank" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/messages' %>
<div class="nav-tabs-navigation" dir="rtl">
  <div class="nav-tabs-wrapper">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active font-weight-bold" data-toggle="tab" href="#state_info" role="tab">المعلومات العامة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#political_status" role="tab">الوضع السياسي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#foreign_affairs" role="tab">العلاقات الخارجية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#current_issues" role="tab">القضايا الراهنة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#parties_and_groups" role="tab">المشاركة السياسية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#regime_members" role="tab">مؤسسة الرئاسة والحكومة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#international_representation" role="tab">التمثيل الدولي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#relation_with_palestine" role="tab">
          العلاقة مع فلسطين</a>
      </li>
    </ul>
  </div>
</div>
<% no_data = "لا يوجد بيانات" %>
  <!-- Tab panes -->
  <div class="tab-content text-center">
    <div class="tab-pane active" id="state_info" role="tabpanel">
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">اسم الدولة الرسمي باللغة العربية</h5>
          <br>
          <h6><%= @state.state_official_name.blank? ? no_data : @state.state_official_name %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style2">
            اسم الدولة باللغة الانجليزية
          </h5>
          <br>
          <h6><%= @state.state_name_en %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style3">اسم الدولة الرسمي باللغة الانجليزية
          </h5>
          <br>
          <h6><%= @state.state_official_name_en.blank? ? no_data : @state.state_official_name_en %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style4">القارة التي تقع فيها الدولة</h5>
          <br>
          <h6><%= @state.state_continent %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style5">مساحة الدولة
            <small>(كيلومتر مربع)</small>
          </h5>
          <br>
          <h5><%= @state.state_size.blank? ? no_data : @state.state_size %>
          </h5>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style6">التعداد السكاني
            <small>(نسمة)</small>
          </h5>
          <br>
          <h5><%= @state.state_population.blank? ? no_data : @state.state_population %>

          </h5>
        </div>
      </div>
      <br>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style7">المناسبات و الاعياد الوطنية
          </h5>
          <br>
          <h5><%= @state.national_days.blank? ? no_data : @state.national_days %>

          </h5>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style8">اهم المدن وتعدادها السكاني
          </h5>
          <br>
          <h6><%= @state.state_major_cities.blank? ? no_data : raw(@state.state_major_cities) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style9">لغة الدولة الرسمية</h5>
          <br>
          <h6><%= @state.state_official_lang %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style10">العملة الرسمية المتداولة</h5>
          <br>
          <h6><%= @state.state_currency %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-6 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">الديانة الرسمية</h5>
          <br>
          <h6><%= @state.state_religion.blank? ? no_data : @state.state_religion %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style2">الدول المجاورة للدولة
          </h5>
          <br>
          <h6><%= raw(@state.state_neighbors) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style3">طبيعة الدولة
          </h5>
          <br>
          <h6><%= @state.state_nature.blank? ? no_data : raw(@state.state_nature) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style4">اهم المناطق والمحافظات
          </h5>
          <br>
          <h6><%= @state.state_provinces.blank? ? no_data : raw(@state.state_provinces) %></h6>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="political_status" role="tabpanel">
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">نشأة الدولة
          </h5>
          <br>
          <h6><%= @state.state_origin.blank? ? no_data : raw(@state.state_origin) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style2">الخلفية السياسية للدولة
          </h5>
          <br>
          <h6><%= @state.state_political_background.blank? ? no_data : raw(@state.state_political_background) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style3">نظام الحكم في الدولة
          </h5>
          <br>
          <h6><%= @state.state_regime_type.blank? ? no_data : raw(@state.state_regime_type) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style4">النظام الحكومي والبرلمان
          </h5>
          <br>
          <h6><%= @state.state_goverment.blank? ? no_data : raw(@state.state_goverment) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style5">دستور الدولة
          </h5>
          <br>
          <h6><%= @state.state_constitution.blank? ? no_data : raw(@state.state_constitution) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
    </div>
    <div class="tab-pane" id="foreign_affairs" role="tabpanel">
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">العلاقات الخارجية
          </h5>
          <br>
          <h6><%= @state.state_foreign_affairs.blank? ? no_data : raw(@state.state_foreign_affairs) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
    </div>
    <div class="tab-pane" id="current_issues" role="tabpanel">
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">
            القضايا الراهنة
          </h5>
          <br>
          <h6><%= @state.state_current_issues.blank? ? no_data : raw(@state.state_current_issues) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
    </div>
    <div class="tab-pane" id="parties_and_groups" role="tabpanel">
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">
            الاحزاب و الجماعات السياسية
          </h5>
          <br>
          <h6><%= @state.state_political_parties.blank? ? no_data : raw(@state.state_political_parties) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
    </div>
    <div class="tab-pane" id="regime_members" role="tabpanel">
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">
            التشكيل الرئاسي والحكومي
          </h5>
          <br>
          <h6><%= @state.state_regime_members.blank? ? no_data : raw(@state.state_regime_members) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
    </div>
    <div class="tab-pane" id="international_representation" role="tabpanel">
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">
            التمثيل الدولي والسفراء
          </h5>
          <br>
          <h6><%= @state.state_international_representation.blank? ? no_data : raw(@state.state_international_representation) %></h6>
        </div>
      </div>
      <br>

    </div>
    <div class="tab-pane" id="relation_with_palestine" role="tabpanel">
      <div class="separator-line"></div>
      <br>
      <br>
      <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
        <div class="field">
          <h5 class="style1">
            علاقة الدولة بالقضية الفلسطينية
          </h5>
          <br>
          <h6><%= @state.state_relations_with_palestine.blank? ? no_data : raw(@state.state_relations_with_palestine) %></h6>
        </div>
      </div>
      <br>
      <div class="separator-line"></div>
      <br>
    </div>
  </div>

  <div class="separator-line"></div>
  <br>
  <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
    <div class="field">
      <p>
        تمت الاضافة بواسطة :
        <%= @state.user.username%>
        | بتاريخ
        <%= @state.created_at.strftime("%d/%m/%Y") %>
        | اخر تعديل
        <%= @state.updated_at.strftime("%d/%m/%Y") %>
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-10 text-center  d-block mx-auto" dir="rtl">
    <% unless request.format.to_sym == :pdf %>
      <%= link_to 'تعديل', edit_state_path(@state), :class => "btn btn-warning btn-lg" unless current_user.role == "authorized_user" %>
      <br>
      <br>
      <%= link_to 'الرجوع للسابق', states_path , :class => "btn btn-primary btn-lg"%>
    <% end %>
  </div>
